Repository DoubleJONY/KDJ-algorithm-challenge, pull requests merged in 2021-10, with the labels that each got.

#47 체육복
  heoh/programmers-42862.py
Labels: lang: Python, site: programmers

#48 조이스틱
  heoh/programmers-42860.py
Labels: lang: Python, site: programmers

#50 큰 수 만들기
  heoh/programmers-42883.py
Labels: lang: Python, site: programmers

#46 greedy added
  minsoo/greedy/connecting_islands.py
  minsoo/greedy/gym_suit.cc
  minsoo/greedy/gym_suit.py
  minsoo/greedy/joystick.py
  minsoo/greedy/largest_number.cc
  minsoo/greedy/largest_number.py
  minsoo/greedy/lifeboat.py
  minsoo/greedy/speed_camera.py
Labels: lang: C++, lang: Python, site: programmers

#60 Greedy 실패작
  jony-java/.gitignore
  jony-java/src/test/java/com/doublejony/practice/bruteForce/BruteForce1.java
  jony-java/src/test/java/com/doublejony/practice/bruteForce/BruteForce2.java
  jony-java/src/test/java/com/doublejony/practice/bruteForce/BruteForce3.java
  jony-java/src/test/java/com/doublejony/practice/greedy/Greedy1.java
  jony-java/src/test/java/com/doublejony/practice/greedy/Greedy2.java
  jony-java/src/test/java/com/doublejony/practice/greedy/Greedy3.java
  jony-java/src/test/java/com/doublejony/practice/greedy/Greedy4.java
  jony-java/src/test/java/com/doublejony/practice/greedy/Greedy5.java
  jony-java/src/test/java/com/doublejony/practice/greedy/Greedy6.java
  jony-java/src/test/java/com/doublejony/practice/hash/Hash1.java
  jony-java/src/test/java/com/doublejony/practice/hash/Hash2.java
  jony-java/src/test/java/com/doublejony/practice/hash/Hash3.java
  jony-java/src/test/java/com/doublejony/practice/hash/Hash4.java
  jony-java/src/test/java/com/doublejony/practice/heap/Heap1.java
  jony-java/src/test/java/com/doublejony/practice/heap/Heap2.java
  jony-java/src/test/java/com/doublejony/practice/heap/Heap3.java
  jony-java/src/test/java/com/doublejony/practice/sort/Sort1.java
  jony-java/src/test/java/com/doublejony/practice/sort/Sort2.java
  jony-java/src/test/java/com/doublejony/practice/sort/Sort3.java
  jony-java/src/test/java/com/doublejony/practice/stackNQueue/Stack1.java
  jony-java/src/test/java/com/doublejony/practice/stackNQueue/Stack2.java
  jony-java/src/test/java/com/doublejony/practice/stackNQueue/Stack3.java
  jony-java/src/test/java/com/doublejony/practice/stackNQueue/Stack4.java
Labels: lang: Java, site: programmers

#51 구명보트
  heoh/programmers-42885.py
Labels: lang: Python, site: programmers

#52 섬 연결하기
  heoh/programmers-42861.py
Labels: lang: Python, site: programmers

#54 N으로 표현
  heoh/programmers-42895.java
Labels: lang: Java, site: programmers

#55 정수 삼각형
  heoh/programmers-43105.java
Labels: lang: Java, site: programmers

#56 등굣길
  heoh/programmers-42898.java
Labels: lang: Java, site: programmers

#57 도둑질
  heoh/programmers-42897.java
Labels: lang: Java, site: programmers
