Repository DoubleJONY/KDJ-algorithm-challenge, pull requests merged in 2021-09, with the labels that each got.

#23 더 맵게
  heoh/programmers-42626.java
Labels: lang: Java, site: programmers

#24 디스크 컨트롤러
  heoh/programmers-42627.go
Labels: site: programmers, lang: Go

#25 이중우선순위큐
  heoh/programmers-42628.cpp
  heoh/programmers-42628.py
Labels: lang: C++, lang: Python, site: programmers

#28 이중큐 C#
  kujin-CSharp/Heap/heap_p3.cs
Labels: lang: C#, site: programmers

#27 디스크 컨트롤러 왜 틀리는지 모르곘네
  kujin-CSharp/Heap/heap_p2.cs
Labels: lang: C#, site: programmers

#22 더맵게
  kujin-CSharp/Heap/heap_p1.cpp
Labels: lang: C++, site: programmers

#34 K번째수
  heoh/programmers-42748.py
Labels: lang: Python, site: programmers

#35 가장 큰 수
  heoh/programmers-42746.js
Labels: site: programmers, lang: JavaScript

#36 H-Index
  heoh/programmers-42747.py
Labels: lang: Python, site: programmers

#33 sort added
  minsoo/sort/h-index.py
  minsoo/sort/k_th_number.py
  minsoo/sort/largest_number.py
Labels: lang: Python, site: programmers

#32 정렬없는 정렬팀 3인방
  jony-java/src/test/java/com/doublejony/sort/Sort1.java
  jony-java/src/test/java/com/doublejony/sort/Sort2.java
  jony-java/src/test/java/com/doublejony/sort/Sort3.java
Labels: lang: Java, site: programmers

#38 카드 짝 맞추기
  heoh/programmers-72415.py
Labels: lang: Python, site: programmers

#41 모의고사
  heoh/programmers-42840.py
Labels: lang: Python, site: programmers

#42 소수 찾기
  heoh/programmers-42839.py
Labels: lang: Python, site: programmers

#43 카펫
  heoh/programmers-42842.py
Labels: lang: Python, site: programmers

#40 brute force added
  minsoo/brute_force/carpet.py
  minsoo/brute_force/exam.py
  minsoo/brute_force/find_prime.py
Labels: lang: Python, site: programmers

#45 완전탐색 3인방
  jony-java/src/test/java/com/doublejony/bruteForce/BruteForce1.java
  jony-java/src/test/java/com/doublejony/bruteForce/BruteForce2.java
  jony-java/src/test/java/com/doublejony/bruteForce/BruteForce3.java
Labels: lang: Java, site: programmers
