Repository DoubleJONY/KDJ-algorithm-challenge, pull requests merged in 2022-10, with the labels that each got.

#207 baekjoon week 27
  minsoo/baekjoon/20055.py
Labels: lang: Python, site: BOJ

#210 1005
  owen/baek/p20055.py
Labels: lang: Python

#208 BOJ20055
  kujin-CSharp/Backjoon/BOJ20055/main.rs
Labels: lang: C#, lang: Rust, site: BOJ

#211 20055 : 컨베이어 벨트 위의 로봇
  jony-java/src/test/java/com/doublejony/baekjoon/Main.java
  jony-java/src/test/java/com/doublejony/baekjoon/samsungSWTest/BJ20055.java
Labels: lang: Java, site: BOJ

#209 컨베이어 벨트 위의 로봇
  heoh/boj-20055.py
Labels: lang: Python, site: BOJ

#213 baekjoon week 28
  minsoo/baekjoon/20056.py
Labels: lang: Python, site: BOJ

#216 마법사 상어 : 시간초과
  jony-java/src/test/java/com/doublejony/baekjoon/Main.java
  jony-java/src/test/java/com/doublejony/baekjoon/samsungSWTest/BJ20056.java
Labels: lang: Java, site: BOJ

#212 BOJ 20056
  kujin-CSharp/Backjoon/BOJ20056/Program.cs
  kujin-CSharp/Backjoon/BOJ20056/main.rs
Labels: lang: C#, lang: Rust, site: BOJ

#217 Tornado
  kujin-CSharp/Backjoon/BOJ20057/Program.cs
  kujin-CSharp/Backjoon/BOJ20057/main.rs
Labels: lang: C#, lang: Rust, site: BOJ

#219 baekjoon week 29
  minsoo/baekjoon/20057.py
Labels: lang: Python, site: BOJ

#220 마법사 상어와 토네이도
  heoh/boj-20057.py
Labels: lang: Python, site: BOJ

#224 마법사 상어와 파이어스톰
  jony-java/src/test/java/com/doublejony/baekjoon/Main.java
  jony-java/src/test/java/com/doublejony/baekjoon/samsungSWTest/BJ20058.java
Labels: lang: Java, site: BOJ

#223 마법사 상어와 파이어스톰
  heoh/boj-20058.py
Labels: lang: Python, site: BOJ
